{% extends 'home/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    Sign up with your email address
                </div>
            </div>
            <br>
            <form action="{% url 'sign-up' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form.name.errors }}
                        {{ form.name }}<br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.username.errors }}
                        {{ form.username }}<br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form.email.errors }}
                        {{ form.email }}<br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {{ form.confirm_email.errors }}
                        {{ form.confirm_email }}<br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.password.errors }}
                        {{ form.password }}<br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Date of Birth:<br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            {{ form.month.errors }}
                            {{ form.month }}
                            {{ form.day.errors }}
                            {{ form.day }}
                            {{ form.name.errors }}
                            {{ form.year }}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">

                        {% for radio in form.gender %}
                            <span>
                                {{ radio }}
                            </span>
                            &nbsp;
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="SIGN UP" class="btn btn-primary btn-block">
                    </div>
                </div>

            </form>
        </div>
        <div class="col-md-4">

        </div>

    </div>
{% endblock content %}